{% extends "base_generic.html" %}

{% block content %}
    <h1>Your SMS service</h1>
    <h2>Twilio integrated sms boxes</h2>
    <p>Please compose a message</p>
    <div class="sms-field">
        <form id="SMSForm" action="/sms/result" class="form-inline">
            {% csrf_token %}
            <p>Send to Pantries? {{ form.isPantry }}</p><br>
            <p>ZIP{{ form.zip_code }}</p>
            {{ form.body }}
            <div style="display: inline-flex;">
                <input class="btn btn-primary text-center send" type="submit" value="SEND" name="">
            </div>
        </form>
       </div>
{% endblock %}